html{
/*
    background-image: url(https://avisassets.abgemea.com/.imaging/featureImageLarge/dms/DMS/local/ZA/fleet/fleet-page/luxury-cars-feature.jpg);
    background-size: cover;
*/
    background-color: slategray;
    overflow: scroll;
}


h1{
    text-align: center;
}

h5{
    font-size: 50px;
}
table{
    width: 60%;
    border-color: slategrey;
    text-align: center;
    border-collapse: separate;
    border-spacing: 3px;
    background-color: lightblue;

}

td{
    font-weight: 100;
    border: 3px solid black;
    border-collapse: collapse;
}

th{
         border: 5px solid black;
        height: 35px;
}


h6{
    text-align: center;
    font-size: 70px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
/*    background-color: slategray;*/
    background-image: url(https://avisassets.abgemea.com/.imaging/featureImageLarge/dms/DMS/local/ZA/fleet/fleet-page/luxury-cars-feature.jpg);
    background-size: cover;
    overflow-y: hidden;
    transition: 5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 5s;
}

.overlay a:hover, .overlay a:focus {
    color: darkblue;
}

.overlay .closebtn {
    position: absolute;
    top: 40px;
    right: 55px;
    font-size: 70px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }