html{
    background-image: url(backgroundimage.gif);
    background-size: cover;
}

h1{
    text-align: center;
}

table{
/*
    width: 60%;
    border-color: slategrey;
    text-align: center;
    border-collapse: separate;
    border-spacing: 3px;
    background-color: white;
*/

}

td{
    font-weight: 100;
    border: 3px solid black;
    border-collapse: collapse;
}

th{
         border: 5px solid black;
        height: 35px;
}